.Navbar {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    gap: 5vh;
    background-color: #1c2a58;
    padding: 10px 10px 10px 20px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100vh;
 
}

.Navbar a {
  color: white;
  text-decoration: none;
}

.Navbar a:visited {
  color: white;
}

.Navbar a:hover {
  color: lightgray;
}

.Navbar a:active {
  color: white;
}